.idea
.cache
.classpath
data/*
.metadata
.settings
.project
.version.properties
target
tmp
out
.DS_Store
build-target

scalastyle-output.xml

src/main/resources/application.yml
src/main/resources/application-dev.yml

*.class
*.iml
*.swp
*.jar
*.log

cmake-build-*
